body
{
    background-image: url("index.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}
.answer
{
    margin: 100px auto;
    font-size: large;
    padding: 50px;
    background-color: floralwhite;
    border-color: cadetblue;
    border-style: solid;
    border-width: 2px;
    display: block;
    font-weight: bolder;
    color: darkslategrey;

}
.tag
{
    margin: 80px auto;
    font-size: large;
    background-color: floralwhite;
    border-radius: 10px;
    border-color: cadetblue;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    display: block;
    font-weight: bolder;
    color: darkslategrey;
}
h1
{   text-align: center;
    margin: 0 auto;
    color: darkslategrey;
    padding: 20px;
    display: block;
    font-weight: bolder;
}