body
{
    background-color: floralwhite;

}
.answer
{
    margin: 100px auto;
    font-size: large;
    padding: 50px;
    background-color: aliceblue;
    border-color: cadetblue;
    border-style: solid;
    border-width: 2px;
    display: block;
}
h1
{   text-align: center;
    margin: 0px auto;
    color: cadetblue;
    padding: 20px;
    display: block;
}